{{!< default}}

<header role="banner">
    <div class="wrap">
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <h2>Visit our <a href="https://github.com/eunas/gotdeb">GitHub</a></h2>
        <hr>
    </div>
</header>

{{> "loop"}}

{{> "footer"}}
